.cache
__pycache__
*.egg-info
.ipynb_checkpoints
*.pyc
*.pyo
.tox
dist
build
private
restats
.env
# Coverage reports
.coverage
.coverage.*

# editor
.idea
.project
.pydevproject

# pyenv
.python-version

# venv
env/
venv/

# libreoffice
.~lock.*

# Exclude large directories
data/
examples/notebooks
